<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerar imagem</title>
	<link rel="icon" href="https://64.media.tumblr.com/6c9b92cf3078afe9d3a49c58eb634a44/56570b2bd8ab9713-24/s540x810/00822c649369e9e174a512dae680f8bbe837787e.jpg">


    <style>
.form__group {
	 position: relative;
	 padding: 15px 0 0;
	 margin-top: 10px;
	 width: 50%;
}
 .form__field {
	 font-family: inherit;
	 width: 100%;
	 border: 0;
	 border-bottom: 2px solid #9b9b9b;
	 outline: 0;
	 font-size: 1.3rem;
	 color: #fff;
	 padding: 7px 0;
	 background: transparent;
	 transition: border-color 0.2s;
}
 .form__field::placeholder {
	 color: transparent;
}
 .form__field:placeholder-shown ~ .form__label {
	 font-size: 1.3rem;
	 cursor: text;
	 top: 20px;
}
 .form__label {
	 position: absolute;
	 top: 0;
	 display: block;
	 transition: 0.2s;
	 font-size: 1rem;
	 color: #9b9b9b;
}
 .form__field:focus {
	 padding-bottom: 6px;
	 font-weight: 700;
	 border-width: 3px;
	 border-image: linear-gradient(to right, #11998e, #38ef7d);
	 border-image-slice: 1;
}
 .form__field:focus ~ .form__label {
	 position: absolute;
	 top: 0;
	 display: block;
	 transition: 0.2s;
	 font-size: 1rem;
	 color: #11998e;
	 font-weight: 700;
}
/* reset input */
 .form__field:required, .form__field:invalid {
	 box-shadow: none;
}
/* demo */
 body {
	 font-family: 'Poppins', sans-serif;
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 align-items: center;
	 min-height: 100vh;
	 font-size: 1.5rem;
	 background-color: #222;
}

#imagem {
	width: 420px;
	height: 420px;
	padding: 30px;
}
@import url('//fonts.googleapis.com/css?family=Roboto:500');
 @import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');
 body {
	 padding: 64px 0;
	 text-align: center;
}
 .face-button {
	 height: 64px;
	 display: inline-block;
	 border: 3px solid #e43;
	 font-family: 'Roboto', sans-serif;
	 font-size: 20px;
	 font-weight: 500;
	 text-align: center;
	 text-decoration: none;
	 color: #e43;
	 overflow: hidden;
}
 .face-button .icon {
	 margin-right: 6px;
}
 .face-button .face-primary, .face-button .face-secondary {
	 display: block;
	 padding: 0 32px;
	 line-height: 64px;
	 transition: margin 0.4s;
}
 .face-button .face-primary {
	 background-color: #e43;
	 color: #fff;
}
 .face-button:hover .face-primary {
	 margin-top: -64px;
}
 

button  {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  button {
    padding: 0 2.6rem;
  }
}
.form__group {
	padding: 10px;
	
}


    </style>
</head>
<body>
	<div style="padding: 10px; color: white;" id="owner">
		Feito por
		<a href="https://instagram.com/jonaz_dev">
			<span>@jonaz_dev</span>
		</a>
	</div>


    <div class="form__group field">
        <input type="input" class="form__field" placeholder="Name" name="name" id='name' required />
        <label for="name" class="form__label">Nome</label>
      </div>

	  <button id="gerar">Gerar imagem</button>

	  <img id="imagem" src=""  alt="" srcset="">

	

	
	  <a download="image.jpg" id="download" href="">
		<button> Baixar Imagem</button>
	  </a>






	  <script src="./Js/gerar.js"></script>
    <img src="" alt="">
</body>
</html>
