<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    
    <title>Escolha um modelo</title>
    <link rel="icon" href="https://64.media.tumblr.com/6c9b92cf3078afe9d3a49c58eb634a44/56570b2bd8ab9713-24/s540x810/00822c649369e9e174a512dae680f8bbe837787e.jpg">

<style>
    #intro .intro-content h5 a {
    color: inherit;
    text-decoration: none;
}

html a {
    background: 0 0;
    text-decoration: none;
}
html * {
    font-family: Nunito,sans-serif;
}
a, a:visited {
    color: #000;
    transition: all .3s ease-in-out;
}
a {
    color: #0d6efd;
    text-decoration: underline;
}

.col-full, .col-twelve {
    width: 100%;
}

html * {
    font-family: Nunito,sans-serif;
}
*, :after, :before {
    box-sizing: border-box;
}
div {
    display: block;
}
.intro-content {
    color: white;
    display: block;
    margin-top: 120px;
    text-align: center;
    transform: translateY(-20%);
    vertical-align: middle;
}

#intro {
    background: #222;
    height: 525px;
}

#intro {
    overflow: hidden;
    position: relative;
}
#intro {
    height: auto;
}
#intro {
    background-size: cover!important;
    display: table;
    text-align: center;
    width: 100%;
}
#intro {
    height: auto;
}
html * {
    font-family: Nunito,sans-serif;
}
*, :after, :before {
    box-sizing: border-box;
}


section {
    display: block;
}
body {
    background: #222;
    font-family: Nunito,sans-serif;
    font-size: 1.7rem;
    height: 100%;
}
body {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    margin: 0;
    text-align: var(--bs-body-text-align);
}



#modelos {
    background: #222;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    padding: 20px;
    width: 90%;
}
.modelos {
    width: 180px;
    height: 180px;
    padding: 5px;
    border-color: rgba(26, 26, 26, 0.507);
    border-radius: 5px;

    border-style: solid;
    box-sizing: border-box;
    display: inline-block;
    border-width: 2px;

}

/* CSS */
#edit {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#edit:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  #edit {
    padding: 0 2.6rem;
  }
}

</style>

</head>


<body>

    <section id="intro">
        <div style="padding: 10px; color: white;" id="owner">
            Made by
            <a href="https://instagram.com/jonaz_dev">
                <span>@jonaz_dev</span>
            </a>
        </div>


        <div class="intro-content">
            <div class="col-twelve">
                <img width="138" height="138" id="intro_img" src="" alt="" srcset="">
                <h1>Modelo atual</h1>
                <button id="edit">Clique aqui para editar o modelo</button>
            </div>

        </div>


    </section>
   
        <img onclick='escolher("bolsonaro", 1)' class="modelos" src="https://i.ibb.co/QJSfdsw/1.png" alt="" srcset="">
        <img onclick='escolher("lula", 1)'     class="modelos"  src="https://i.ibb.co/wJFgVj8/1.jpg" alt="" srcset="">



   
    <script src="./Js/home.js"></script>



   
</body>
</html>
